body {
  font-family: Arial;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

a {
  color: inherit;
  font-weight: inherit;
  text-decoration: inherit;
}

.section {
  width: 50%;
}


ul.nav {
  list-style-type: none;
  margin: 0;
  padding: 0;

  display: flex;
  justify-content: center;
}

li {
  margin: 5px;
}
