<!DOCTYPE html>
<html>
    <head>
        {% block head %}
        <title>{% block title %}{{ SITENAME }}{% endblock %}</title>
        <meta charset="utf-8" />
        <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
        <script src="//netdna.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
        <link href="//netdna.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css" rel="stylesheet" media="screen"/>
        <link href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap-glyphicons.css" rel="stylesheet" />
        <link href="//cdnjs.cloudflare.com/ajax/libs/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet" />
        <link href="{{ SITEURL }}/theme/static/css/style.css" rel="stylesheet" />
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
        {% if FEED_ALL_ATOM %}
        <link href="{{ FEED_DOMAIN }}/{{ FEED_ALL_ATOM }}" type="application/atom+xml" rel="alternate" title="{{ SITENAME }} Full Atom Feed" />
        {% endif %}
        {% if FEED_ALL_RSS %}
        <link href="{{ FEED_DOMAIN }}/{{ FEED_ALL_RSS }}" type="application/rss+xml" rel="alternate" title="{{ SITENAME }} Full RSS Feed" />
        {% endif %}
        {% if FEED_ATOM %}
        <link href="{{ FEED_DOMAIN }}/{{ FEED_ATOM }}" type="application/atom+xml" rel="alternate" title="{{ SITENAME }} Atom Feed" />
        {% endif %}
        {% if FEED_RSS %}
        <link href="{{ FEED_DOMAIN }}/{{ FEED_RSS }}" type="application/rss+xml" rel="alternate" title="{{ SITENAME }} RSS Feed" />
        {% endif %}
        {% if CATEGORY_FEED_ATOM and category %}
        <link href="{{ FEED_DOMAIN }}/{{ CATEGORY_FEED_ATOM|format(category.slug) }}" type="application/atom+xml" rel="alternate" title="{{ SITENAME }} Categories Atom Feed" />
        {% endif %}
        {% if CATEGORY_FEED_RSS and category %}
        <link href="{{ FEED_DOMAIN }}/{{ CATEGORY_FEED_RSS|format(category.slug) }}" type="application/rss+xml" rel="alternate" title="{{ SITENAME }} Categories RSS Feed" />
        {% endif %}
        {% if TAG_FEED_ATOM and tag %}
        <link href="{{ FEED_DOMAIN }}/{{ TAG_FEED_ATOM|format(tag.slug) }}" type="application/atom+xml" rel="alternate" title="{{ SITENAME }} Tags Atom Feed" />
        {% endif %}
        {% if TAG_FEED_RSS and tag %}
        <link href="{{ FEED_DOMAIN }}/{{ TAG_FEED_RSS|format(tag.slug) }}" type="application/rss+xml" rel="alternate" title="{{ SITENAME }} Tags RSS Feed" />
        {% endif %}
        {% endblock head %}
    </head>

    <body id="index" class="archive">
        <nav class="navbar navbar-default" role="navigation">
            <div class="container">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#my-navbar">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        {% for p in PAGES %}
                        <span class="icon-bar"></span>
                        {% endfor %}
                        <span class="icon-bar"></span>
                        {% for p in SOCIAL %}
                        <span class="icon-bar"></span>
                        {% endfor %}
                    </button>
                    <a class="navbar-brand" href="{{ SITEURL }}/">{{ SITENAME }}</a>
                </div>
                <div class="collapse navbar-collapse" id="my-navbar">
                    <ul class="nav navbar-nav">
                        <li class="{% block navclass %}{{ NAVCLASS }}{% endblock %}"><a href="{{ SITEURL }}/">
                            <span class="glyphicon glyphicon-home"></span> Home
                        </a></li> 
                        {% for p in PAGES %}
                            <li{% if p == page %} class="active"{% endif %}><a href="{{ SITEURL }}/{{ p.url }}">{{ p.title }}</a></li>
                        {% endfor %}
                            <li{% if author or tag %} class="active"{% endif %}{% block archclass %}{{ ARCHCLASS }}{% endblock archclass %}><a href="{{ SITEURL }}/archives.html">Archives</a></li>
                    </ul>
                    {% if SOCIAL %}
                    <ul class="nav navbar-nav navbar-right">
                        {% for link in SOCIAL %}
                        <li>
                            <a href="{{link[1]}}">
                                {% if link[0] == "Github" %}
                                <i class="fa fa-github fa-lg"></i>
                                {% endif %}
                                {% if link[0] == "Twitter" %}
                                <i class="fa fa-twitter fa-lg"></i>
                                {% endif %}
                                {{link[0]}}
                            </a>
                        </li>
                        {% endfor %} 
                    </ul>
                    {% endif %}
                </div>
            </div>
        </nav>
        <div class="container-fluid content">
             <div class="row">
                <div class="col-md-3">
                </div>
                <div class="col-md-7">
                    {% block content %}
                    {% endblock %}
                </div>
                <div id="about" class="col-md-2">
                    {% if SOCIAL %}
                    <ul class="">
                    </ul>
                    {% endif %}
                </div>
            </div>
        </div><!-- container -->
        <footer id="contentinfo" class="navbar footer">
            <nav>
                <div class="container">
                    <div class="col-md-4">
                        <address id="about" class="vcard body">
                        &copy; <a href="{{SITEURL}}">{{SITENAME}}</a> Proudly powered by <a href="http://getpelican.com/">Pelican</a>
                        </address><!-- /#about -->
                    </div>
                    <div class="col-md-4">
                    </div>
                    <div class="col-md-4">
                        <div class="pull-right bottom-nav">
                            <a href="{{ FEED_DOMAIN }}/{{ FEED_ALL_ATOM }}">RSS</a>
                        </div>
                    </div>
                </div>
            </nav>
        </footer><!-- /#contentinfo -->
		{% include 'analytics.html' %}
    </body>
</html>
